.vm-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ececec; /* Neumorphic background color for consistency */
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #333;
  color: white;
  padding: 0 20px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; /* Neumorphic shadow for depth */
}

.header-left, .header-center, .header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex-grow: 1;
}

.header-center {
  flex-grow: 1;
  justify-content: center;
}

.header-right {
  flex-grow: 1;
  justify-content: flex-end;
}

.vm-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  border-radius: 14px; /* Slightly increased border radius for neumorphic effect */
  cursor: pointer;
  box-shadow: 4px 4px 8px #424242, -4px -4px 8px #424242; /* Neumorphic shadows */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.vm-button:hover {
  background-color: #45a049;
  box-shadow: 2px 2px 4px #424242, -2px -2px 4px #424242; /* Lighter shadow on hover */
}

.vm-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4; /* Light background for content area */
  box-shadow: inset 10px 10px 15px #bebebe, inset -10px -10px 15px #ffffff; /* Inset neumorphic shadow */
}
