<div class="create-account-container">
  <div class="create-account-box">
    <h1>Create CyberLabs Account</h1>
    <form>
      <input type="text" placeholder="Username" class="account-input" />
      <input type="email" placeholder="Email" class="account-input" />
      <input type="password" placeholder="Password" class="account-input" />
      <input type="password" placeholder="Confirm Password" class="account-input" />
      <button type="submit" class="account-button">Create Account</button>
    </form>
  </div>
</div>
