.student-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background-color: #ececec;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #333;
  color: white;
  padding: 0 20px;
  z-index: 2;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex-grow: 1;
}

.header-center {
  flex-grow: 2;
  justify-content: center;
}

.header-right {
  flex-grow: 1;
  justify-content: flex-end;
}

.sidebar {
  background-color: #f4f4f4;
  width: 250px;
  height: calc(100vh - 100px);
  padding: 20px 40px 20px 20px;
  overflow-y: auto;
  box-shadow: 10px 10px 15px #bebebe, -10px -10px 15px #ffffff;
}

/* General list enhancements */
ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

li:hover {
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff; 
}

/* Specific to labs and courses */
.content ul li {
  cursor: pointer;
  display: block;
}

.content h2 {
  color: #333;
  margin-top: 0;
}

.status {
  font-weight: bold;
}

.completed {
  color: green;
}

.in-progress {
  color: orange;
}

.late {
  color: red;
}

.due-date {
  color: #666;
  font-style: italic;
}

.lab-details {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; 
}

.lab-details h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.lab-details p {
  margin: 10px 0;
}

.input-file-container {
  margin: 10px 0;
}

input[type="file"] {
  width: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li,
.sidebar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #ddd;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff; 
}

.sidebar li:hover,
.sidebar button:hover {
  background-color: #ccc;
}

button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #003d82;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
