<div class="login-container">
    <div class="login-box">
      <h1>Forgot CyberLabs Password?</h1>
      <form (submit)="forgotPassword(form.value); $event.preventDefault()" #form="ngForm">
        <input type="text" ngModel name="name" placeholder="Name" class="login-input" required>
        <input type="email" ngModel name="email" placeholder="Email" class="login-input" required>
        <button type="submit" class="login-button" [disabled]="!form.valid">Reset Password</button>
      </form>
    </div>
  </div>
  