<div class="forgot-password-container">
  <div class="forgot-password-box">
    <h1 class="forgot-password-title">Forgot CyberLabs Password?</h1>
    <form (submit)="forgotPassword(form.value); $event.preventDefault()" #form="ngForm">
      <input type="text" ngModel name="name" placeholder="Name" class="forgot-password-input" required>
      <input type="email" ngModel name="email" placeholder="Email" class="forgot-password-input" required>
      <button type="submit" class="reset-password-button" [disabled]="!form.valid">Reset Password</button>
    </form>
  </div>
</div>
