.teacher-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  background-color: #ececec; 
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #333;
  color: white;
  padding: 0 20px;
  z-index: 2;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  flex-grow: 1;
}

.header-center {
  flex-grow: 2;
  justify-content: center;
}

.header-right {
  flex-grow: 1;
  justify-content: flex-end;
}

.sidebar {
  background-color: #f4f4f4;
  width: 250px;
  height: calc(100vh - 100px);
  padding: 20px 40px 20px 20px;
  overflow-y: auto;
  box-shadow: 10px 10px 15px #bebebe, -10px -10px 15px #ffffff; 
}

ul {
  padding-left: 0;
  list-style-type: none;
}

li {
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; 
  transition: background-color 0.3s, box-shadow 0.3s;
}

li:hover {
  background-color: #f9f9f9;
  box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff; 
}

.content ul li {
  cursor: pointer;
  display: block;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em; 
}

.content h2 {
  color: #333;
  margin-top: 0;
}

.lab-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
}

.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
}

.lab-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 20px;
}

.create-lab-btn {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff; 
}

.create-lab-btn:hover {
  background-color: #45a049;
}

.add-student-btn {
  padding: 8px 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff; 
}

.edit-lab-btn {
  padding: 8px 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff; 
}

.add-student-btn:hover {
  background-color: #0056b3;
}

.status {
  font-weight: bold;
}

.completed {
  color: green; 
}

.in-progress {
  color: orange; 
}

.late {
  color: red; 
}

.due-date {
  color: #666;
  font-style: italic;
}

.lab-details h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.lab-details {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; 
}

.input-file-container {
  margin: 10px 0;
}

input[type="file"] {
  width: 100%;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; 
  display: flex;
  flex-direction: column; 
}

.form-container h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.form-container div {
  margin-bottom: 15px; 
}

.form-container label {
  display: block;
  margin-bottom: 5px; 
  color: #333;
  font-weight: bold;
  width: 100%;
}

.form-container input[type="text"] {
  width: 100%; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-container fieldset {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-container legend {
  color: #333;
  font-size: 1.2em;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff; 
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container .student-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-container .student-checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.form-container .student-checkbox label {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  flex-grow: 1;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%; 
}

.sidebar li,
.sidebar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #ddd;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  box-shadow: 2px 2px 4px #bebebe, -2px -2px 4px #ffffff; 
}

.sidebar li:hover,
.sidebar button:hover {
  background-color: #ccc; /* Hover effect */
}

button {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #003d82;
}

.main-content {
  display: flex;
  flex-direction: row; 
  flex-grow: 1; 
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
